name: Test Coveralls

on: ["push", "pull_request"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Install
      run: |
        python -m pip install -U .[dev]

    - name: Test
      continue-on-error: true
      run: |
        python -m pytest --cov=ilmsdump tests

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
